body {
	background-color: #1674f0;
	color: #fff;
}

h1 {
color: #454545; font-size: 62px;
}
p {
	text-align: justify;
}
h2.main-header {
	background-color: #363636;
	color: #fff;
	text-align: center;
}
#header {
	background-color: red;
	text-align: center;
}